<html>

<head>
	{% extends "home_page.html" %}
	{% block content %}
	<title>Blog Post</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}blog_form.css">
</style>	

</head>

<body>
	<h1>Blog Post</h1>
	<div class="blog">	
	<form action="" method="post">{% csrf_token %}
		<ul>
			<ul class="field">Title: {{ form.title }}</ul>
			<ul class="field">Date: {{ form.date }}</ul>
			<ul class="field">Author: {{ form.author }}</ul>
			<ul class="field">Body: {{ form.body }}</ul>
		</ul>
	<br>
	<input class="button" type="submit" value="Save Post">	
	</form>
	</div>
	{% endblock %}
</body>
	
</html>
